/*font-family: 'Pangolin', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
*/
* {
  box-sizing: border-box;
/*  Esto hizo que los elementos ya no se pusieran hacia abajo.
*/
  margin: 0;
  padding: 0;
}

row:before,
.row:after {
  content:"";
  display: table;
}

.row:after {
  clear: both;
}

.row{
  margin: auto;
  width: 100%;
  height: auto;
}

[class*="col-"]{
   float: left;
   min-height: 10px;
   padding: 20px;
}


/*Grid*/
.col-1 {
  width: calc(8.333%);
}

.col-2 {
  width: calc(16.666%);
}

.col-3 {
  width: calc(25%);
}

.col-4 {
  width: calc(33.333%);
}

.col-5 {
  width: calc(41.666%);
}

.col-6 {
  width: calc(50%);
}

.col-7 {
  width: calc(53.33%);
}
.col-8 {
  width: calc(66.66%);
}

.col-9 {
  width: calc(75%);
}

.col-10 {
  width: calc(83.33%);
}

.col-12 {
  width: calc(100%);
}

body {
	font-family: 'Shadows Into Light', cursive;
	margin: 0;
	padding: 0;
	background: #b5cdab;
}

body, html {
	height: 100%;
}

/*header*/

.carousel-content{
 margin-top: 2%;
 display: none;
}

.carousel-content.active{
 display: block;
}

.contenedor-carousel{
 margin: auto;
 width: 70%;
 max-width: 1200px;
 position: relative;
}

.carousel{
 text-align: center;
 width: auto;
 height: auto;
}

.carousel div img{
 width: 100%;
}

.controls {
 text-align: center;
 margin-top: 5px;
 margin-bottom: 15px;

}

a{
 text-decoration: none;
}

.previous,
.next{
 width: 40px;
 height: 40px;
 background: rgba(255,255,255,0.7);
 position: absolute;
 top: 50%;
 line-height: 40px;
 font-size: 24px;
 font-weight: bold;
 border-radius: 50%;
 cursor: pointer;

}

.previous{
 left: 13px;
}

.next{
 right: 13px;
}

.controls button{
 background: #415066;
 border: #415066;
 border-radius: 50%;
 height: 15px;
 width: 15px;
 margin: 0 4px;
 cursor: pointer;
}

.controls button.active{
 background: #1d4f1f;
}

img {
	border-radius: 10px;
	border: 10px solid white;
}


