<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/narrativas.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Pangolin|Shadows+Into+Light" rel="stylesheet">
	<title> Narrativas </title>
</head>
<body>

	<header>
		<div class="row">
			<div class="col-md-12">
				<h1 class="title-second-view"> Narrativas </h1>
			</div>
		</div>
	</header>

	<section>
		<div class="container"></div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
				<h2>Biosfera escondida</h2>
				<img src="../assets/biosfera-escondida.jpg" alt="foto">
				<p>En los esfuerzos por conocer sobre “arte” fui navegando y divagando entre muchas esferas. Tuve debates conmigo misma al confrontarme con ideas sobre lo que debe ser el arte. Buscaba hablar con filósofos y artistas, intentando darle algún sentido al arte. Pues sí, si uno se afana por la teoría, sin duda aprende algo. Pero resulta que no me parecía suficiente. Ese camino, cada vez se hacía más aburrido, pues a veces la teoría cansa. Sobre todo cuando se trata de arte, y más de arte posmoderno. Donde tanto la teoría como la práctica, resultan familiares a la cotidianidad. 
			<br>	
				El arte en sus distintas esferas y distintos niveles, ya contiene sus propias dinámicas. La academia con sus teóricos, las instituciones con el respaldo de su propio nombre... Conocí un poco de todo. Lo buscaba, pero aún faltaba una pieza a toda mi construcción mental sobre el arte. Lo cierto, es que no sabía qué me faltaba. Eso que faltaba, no lo encontré buscando. Más bien me encontró. ¡Me encontró!
			<br>
				Pues bien, eso que yo no buscaba y todavía me faltaba asimilar, y digo asimilar en un sentido de entender el arte, ya no sólo al nivel de un agrado sensible, ni de comprensión teórica, sino a un nivel ontológico. ¿Pero qué es esto que se me incorpora? El arte como proceso de creación. Entonces aquí surge otra pregunta, ¿Qué es lo que creo [de crear]? Experiencias sensibles, acompañadas de secuencias narrativas. Esto, es ya, mi dinámica personal. No corresponde a ningún modelo dado. Es la cotidianidad anclada a una metodología fantasiosa. Surge entonces la narración.
			<br>
				Narraciones hermosas, bidireccionales. Un contenido novelado. Un detalle lleva a otro detalle. Una sucesión de experiencias. Saltar de una historia a otra. Entender la poesía. Pasar de la poesía al cuento. Danzar entre la realidad y el sueño. Crear la imagen. Formar la dinámica de los significados. Leer los cuerpos. Reinventar las normas. Hablar otro lenguaje. Jugar.
				
				Y con todo esto, entonces en una fotografía mal lograda, queda contenida la esencia de la felicidad.</p>
				</div>
			</div>
		</div>
	</section>


<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<!-- 	<script src="js\jquery.js"></script>
 -->  <script src="../js/data.js"></script>
  <script src="../js/app.js">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>