<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/narrativas.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Pangolin|Shadows+Into+Light" rel="stylesheet">
	<title> Blog </title>
</head>
<body>

	<header>
		<div class="row">
			<div class="col-md-12 col-md-offset-1">
				<h1 class="title-second-view"> Blog </h1>
			</div>
		</div>
	</header>

	<section>
		<div class="container"></div>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1 text-justify">
					<div class="first-post row">

					<div class="title text-center">
						<h2>Biosfera escondida</h2>
						<br>
					</div>
						<div class="col-md-6">
							<img class="img-responsive" src="../assets/biosfera-escondida.jpg" alt="foto">
						</div>
						<!-- <div class="col-md-6"> -->
						<p>En los esfuerzos por conocer sobre “arte” fui navegando y divagando entre muchas esferas. Tuve debates conmigo misma al confrontarme con ideas sobre lo que debe ser el arte. Buscaba hablar con filósofos y artistas, intentando darle algún sentido al arte. Pues sí, si uno se afana por la teoría, sin duda aprende algo. Pero resulta que no me parecía suficiente. Ese camino, cada vez se hacía más aburrido, pues a veces la teoría cansa. Sobre todo cuando se trata de arte, y más de arte posmoderno. Donde tanto la teoría como la práctica, resultan familiares a la cotidianidad. 
					<br>
					<br>	
						El arte en sus distintas esferas y distintos niveles, ya contiene sus propias dinámicas. La academia con sus teóricos, las instituciones con el respaldo de su propio nombre... Conocí un poco de todo. Lo buscaba, pero aún faltaba una pieza a toda mi construcción mental sobre el arte. Lo cierto, es que no sabía qué me faltaba. Eso que faltaba, no lo encontré buscando. Más bien me encontró. ¡Me encontró!
					<br>
					<br>
						Pues bien, eso que yo no buscaba y todavía me faltaba asimilar, y digo asimilar en un sentido de entender el arte, ya no sólo al nivel de un agrado sensible, ni de comprensión teórica, sino a un nivel ontológico. ¿Pero qué es esto que se me incorpora? El arte como proceso de creación. Entonces aquí surge otra pregunta, ¿Qué es lo que creo [de crear]? Experiencias sensibles, acompañadas de secuencias narrativas. Esto, es ya, mi dinámica personal. No corresponde a ningún modelo dado. Es la cotidianidad anclada a una metodología fantasiosa. Surge entonces la narración.
					<br>
					<br>
						Narraciones hermosas, bidireccionales. Un contenido novelado. Un detalle lleva a otro detalle. Una sucesión de experiencias. Saltar de una historia a otra. Entender la poesía. Pasar de la poesía al cuento. Danzar entre la realidad y el sueño. Crear la imagen. Formar la dinámica de los significados. Leer los cuerpos. Reinventar las normas. Hablar otro lenguaje. Jugar.
					
						Y con todo esto, entonces en una fotografía mal lograda, queda contenida la esencia de la felicidad.</p>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container"></div>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1 text-justify">
					<div class="first-post row">

					<div class="title text-center">
						<h2>Dinosaurio y Gume</h2>
						<br>
					</div>
						<div class="col-md-6">
							<img class="img-responsive" src="../assets/dinosaurio.jpg">
						</div>
						<!-- <div class="col-md-6"> -->
					esta es la historia de un dinosurio, un dinosaurio que vivia en una magalopolis.
					pero ese dinosaurio era tan pequeño que lo confundían, frecuentemente ,con un juguete moridisqueable para bebés humanos y de repente también para bebés no humanos.
					antes cabe aclarar que, tato el dinosaurio, le gustaba pasear y conocer las calles de la ciudad. forma en la que, de manera ocurrente, conocia siempre muchas personas, como su amigo gume el delfin.
					Gume, el delfín, vivía burocráticamente, en las instalaciones del GranAcuario, hasta el día que conoció a Dinosaurio. Aquél día, se dió cuenta que podía  respirar fuera del agua...
					No fue fácil que estos dos amigos emprendieran tan anhelado viaje, pues a  uno lo confundían con juguete y del otro se burlaban porque nadie había visto un delfín que viviera fuera del agua. Ese espíritu osado, que ahora poseían, provenía de la intensidad de su primero encuentro.
					(jijiji eso fue muy bueno 😍)
					El dinosaurio se sentía extrañó ya que su amigo, Gume, no era algo que estuviera esperando y mucho menos buscando.
					Él se la pasaba buscando a alguno otro dinosaurio compañero con quién olaticar. Lamentablemente todos habían desaparecido siglos atrás por una infección en la panza .
					Así, aquellos dos peculiares amigos que disfrutaban  juntos  salir a caminar, decidieron aventurarse a un lugar más lejano. El lugar que decidieron visitar no tenía muy buena fama, decían que era casi un pueblo fantasma.. aburrido, sin mucho que hacer. Y aún sabiendo esto, estaban completamente decidios a ir.
					Gume se sentia confundido, por una parte se sentia emocinado por conocer otros territorios, pero por otra, le entraba panico, ya que se sentia vulnerble fuera del agua. Aunque para ser sinceros, su amigo dinosaurio le transmitia cierta sensacion de tranquilidad, un tanto dificil de explicar.
					Pero mientras más tiempo pasaba, más compartían sensaciones y más dialogaban, a diferencia de lo que podría pensarse, cada vez se desconocían más. Por que cada idea, cada sentimiento, era la apertura de una ramificación fractal, que sólo daba cuenta que ambos tenían una profundidad  con  un límite cada vez menos perceptible a los sentidos. Y este misterioso laberinto interior, es lo que los unía con tanta fuerza.

						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>

<section>
		<div class="container"></div>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1 text-justify">
					<div class="first-post row">

					<div class="title text-center">
						<h2>Dinosaurio y Gume</h2>
						<br>
					</div>
						<div class="col-md-6">
							<img class="img-responsive" src="../assets/guadalajara.jpg">
						</div>
						<!-- <div class="col-md-6"> -->
					22/03/2018
				
				Esperaba una playa. 
[Tlaquepaque-Zapopán-Guadalajara Centro-Chapala-San Juan Cosalá[para mi Copala] -Tonalá]

Yo quería la playa. Pero también quería la tecnología. Yo quería todo. También quería nada. No sabía que querer. Pero anhelaba el mar.  
Porque el mar me consoló en algún momento muy desconcentrarte. Quería lo mismo para ahora.  Porque he colocado en la idea del agua, la arena y el calor, toda la energía para la renovación. Casi, parecía ser que llegaría a la misma playa. 
Todo inició así. Fluctuantemente. Un momento con en paz. Otro de mal humor. No había mucho que hacer. Me concentré en la urbanidad. Por ratos… ¿Por dónde continuar? ¿Para qué continuar? ¿Regresar? ¿Qué sentir? ¿Qué pensar? ¿Querer pensar? ¿Para qué pensar?
Pero en algún punto de aquella oscilación, todo empezó a mejorar. Porque en medio de esa trayectoria. Nos encontró la playa. Y es que, si tiene arena, si tiene conchitas, si tiene pelícanos, y olitas, ¿por qué no habría de ser una playa? Pues aquél lugar nos estaba esperando. Tanto como nosotros lo estábamos anhelando. Tanto aquel histórico mar nos necesitaba para existir, como nosotros para sobrevivir. 
Y es que la comunicación con tanta naturalidad, sólo fluye entre quienes están en el mismo estado. Aquél lugar, nos recibió con su intensa soledad. Y pudimos escuchar su voz. Sentir su calor. Descubrirnos en él. Nos susurró lo que no éramos capaces de vislumbrar por nosotros mismos: Necesitábamos callar y compartir la más sencilla de las actividades. Escucharnos interiormente. 
Aquella playa no descubierta, más que por nosotros, nos dio un regalo. El saber que la próxima vez, la solución no está en sentarnos y hablar. Sino en recuperar la conexión a través del silencio… la conversación vendrá después. 


						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<!-- 	<script src="js\jquery.js"></script>
 -->  <script src="../js/data.js"></script>
  <script src="../js/app.js">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>